

.return-login {
  position: absolute;
  top: 1em;
  left: 1em;
}

.btn-form Button {
    font-weight: bold
}

.swal-footer {
  display: flex;
  justify-content: center;
}

.rules-agreement {
  color: #1E2F97;
}

.pd-form-signup {
  padding: 0.5em;
}
@media only screen and (max-width: 600px) {
  .card-login-form {
      width: 100%;
  }
}
.bgr-logo {
  display: flex;
  gap: 2px;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
}
.rectangle-items {
  padding: 0 0.5rem;

  border: 1.5px solid white;
  background-color: #141137;
}

.rectangle-items-color {
  padding: 0 1rem;
  border: 1.5px solid white;
}

.pd-r {
  padding: 0 1.1rem;
}