

.return-login {
  position: absolute;
  top: 1em;
  left: 1em;
}

.btn-form Button {
    font-weight: bold
}

.swal-footer {
  display: flex;
  justify-content: center;
}

.rules-agreement {
  color: #1E2F97;
}

.pd-form-signup {
  padding: 0.5em;
}
@media only screen and (max-width: 600px) {
  .card-login-form {
      width: 100%;
  }
}