.city-card {
  width: 400px;
  height: 900px;
  position: relative;
  border-radius: 5rem;
  padding: 1.5rem 2rem;
  margin: 1rem;
  color: white;
  font-size: 2rem;
  opacity: 0.85;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sunny {
  background: url("../../../../utilities/images/sunny.svg");
  background-size: cover;
  background-position: center;
}

.night {
  background: url("../../../../utilities/images/night.svg");
  background-size: cover;
  background-position: center;
}

.partly-cloudy {
  background: url("../../../../utilities/images/partly_cloudy.svg");
  background-size: cover;
  background-position: center;
}

.thunder-storm {
  background: url("../../../../utilities/images/thunder_storm.svg");
  background-size: cover;
  background-position: center;
}

.snow {
  background: url("../../../../utilities/images/snow.svg");
  background-size: cover;
  background-position: center;
}
.rain {
  background: url("../../../../utilities/images/rain.svg");
  background-size: cover;
  background-position: center;
}

.default {
  background-color: rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-position: center;
  color: rgba(0, 0, 0, 0.8);
}

.city-temp {
  font-size: 7rem;
  margin-top: 5rem;
}

.weather-forecast {
  margin-bottom: 1.5rem;
}
