.menu-btn {
  all: unset;
  position: absolute;
}

.menu-icon {
  position: fixed;
  font-size: 4rem;
  color: white;
  margin-top: 3rem;
  margin-left: 4rem;
  opacity: 0.5;
}

.menu-icon:hover {
  opacity: 1;
}

.dashboard-container {
  position: fixed;
  /* background-color: rgb(197, 197, 197); */
  color: black;
  height: 100vh;
  z-index: 100;
  width: 700px;
  left: -700px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  transition: all ease 1s;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dashboard {
  padding-top: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-showed {
  transform: translateX(700px);
}

.dashboard a {
  color: black !important;
  font-size: 5rem;
  transition: all ease-in-out 300ms;
}

.dashboard a:hover {
  /* transform: scale(1.1); */
  font-size: 6rem;
}

/* .close-btn {
  position: absolute;
  right: 500px;
} */

.header-close-icon {
  position: absolute;
  font-size: 3rem;
  right: 3rem;
  top: 2rem;
}

.header-close-icon:hover {
  color: orange;
}

/* @keyframes slide-in {
  100% {
    width: 0;
  }

  0% {
    width: 500px;
  }
} */
