.middle {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-mountain {
  background: url(https://i.imgur.com/hW4qLSe.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  animation: fade-in 2s ease-in;
}

.morning-mountain {
  background: url(https://i.imgur.com/KV7myHQ.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  animation: fade-in 2s ease-in;
}

.dramatic-sunset {
  background: url(https://i.imgur.com/lvORjj5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  animation: fade-in 2s ease-in;
}


.style-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  border-radius: 1em;
  background: rgb(119 119 119 / 28%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.style-blur-bgr {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
}