
.card-login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 500px;

}

.text-align-center {
    text-align: center;
}
.title-login-form {
    color: rgb(255, 255, 255) !important;

   font-size: 1.4em;
   font-weight: 600;

}
.ant-form-item {
    margin: 1em 2em!important;
}
.pd-form {
    padding:0.5em ;
}
.pd-title {
    padding: 0.3em 1.5em;
}
.css-dev-only-do-not-override-pr0fja .ant-btn.ant-btn-block {
    height: 3em;
}

.pd-login-icon {
    padding: 0 2em;
}
.text-ques {
    color: aliceblue;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .card-login-form {
        width: 100%;
    }
    .style-blur {
        width: 100% !important;
        border: none;
    }
  }