
.card-login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 500px;

}

.text-align-center {
    text-align: center;
}
.title-login-form {
    color: rgb(255, 255, 255) !important;

   font-size: 1.4em;
   font-weight: 600;

}
.ant-form-item {
    margin: 1em 2em!important;
}
.pd-form {
    padding:0.5em ;
}
.pd-title {
    padding: 0.3em 1.5em;
}
.css-dev-only-do-not-override-pr0fja .ant-btn.ant-btn-block {
    height: 3em;
}

.pd-login-icon {
    padding: 0 2em;
}
.text-ques {
    color: aliceblue;
    font-weight: 600;
}

.login-form-button:hover {
    opacity: 1 !important;
    font-size: 1em;

}

.login-form-button {
    background-color: black !important; 
    margin-bottom:0.5em !important; 
    opacity: 0.6 !important; 
    font-weight: 700 !important;
    transition: all 1s;

}

.login-sign-up-btn {
    padding: 0;
    color: black;
    font-weight: 600;
    transition: all 1s;
}
.login-sign-up-btn:hover {
    font-size: 1.1em;
    color: white;
    text-decoration: underline  !important;
}
 
@media only screen and (max-width: 600px) {
    .card-login-form {
        width: 100%;
    }
    .style-blur {
        width: 100% !important;
        border: none;
    }
  }